{% block field_rows %}
{% spaceless %}
    {% for child in form %}
        {{ form_row(child) }}
    {% endfor %}
{% endspaceless %}
{% endblock field_rows %}


{% block field_row %}
{% spaceless %}
	{% if macro is not defined %}
		{% import ':Form:macro.html.twig' as macro %}
	{% endif %}

	{% set type_class = types|join('-')|replace({'field': 'form-type', '-email': '', '-password': ''}) %}
	{% set form_parent = form.parent %}

	{# Find root form element to exclude form name from field name and build field wrapper class name #}
	{% for i in 1..10 %}
		{% if form_parent.parent is not null %}
			{% set form_parent = form_parent.parent %}
		{% endif %}
	{% endfor %}
	{% set form_name  = form_parent.vars.name %}
	{% set name_class = full_name|replace({(form_name): ''})|trim(']')|trim('[') %}

	<div class="form-item field-{{ name_class|replace({'_': '-', '][': '-'}) }} {{ type_class }} {{ macro.field_errors(form) }}">
		{{ form_label(form, label|default(null)) }}
		{{ form_widget(form, _context) }}
		{% if (help is defined) and (help is not empty) %}
			<span class="help-inline">{{ help }}</span>
		{% endif %}
		{{ form_errors(form) }}
	</div>
{% endspaceless %}
{% endblock field_row %}


{% block field_widget %}
{% spaceless %}
    {% set type = type|default('text') %}
	{% if (type != 'hidden') and (label is defined) and (attr.placeholder is not defined) %}
		{% set attr = attr|merge({'placeholder': label }) %}
	{% endif %}

	{% set type_class = (type in ['email', 'password']) ? 'text' : type %}
	{% set attr = attr|merge({'class': ['form', type_class]|join('-')}) %}

    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% endspaceless %}
{% endblock field_widget %}


{% block textarea_widget %}
{% spaceless %}
	{% if label is defined %}
		{% set attr = attr|merge({'placeholder': label }) %}
	{% endif %}
	{% set attr = attr|merge({'class': 'form-textarea'}) %}
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{% endspaceless %}
{% endblock textarea_widget %}


{% block field_errors %}
{% spaceless %}
  {% if errors is defined and errors|length > 0 %}
    {% for error in errors %}
      <span class="help-inline error">{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</span>
    {% endfor %}
  {% endif %}
{% endspaceless %}
{% endblock field_errors %}


{% block generic_label %}
{% spaceless %}
	{% if label|trim != '' %}
		{% if required %}
			{% set attr = attr|merge({'class': attr.class|default('') ~ ' required'}) %}
		{% endif %}
		<label{% for attrname,attrvalue in attr %} {{attrname}}="{{attrvalue}}"{% endfor %}>{{ label|trans }}</label>
	{% endif %}
{% endspaceless %}
{% endblock %}