#form-estimate {
	margin: -10px -20px;
	padding: 0 0 40px;
	position: relative;
	z-index: 1;
}
#form-estimate:before {
	content: "";
	display: block;
	position: absolute;
	top: -8px;
	right: -7px;
	width: 180px;
	height: 185px;
	background: #f1f3f5 url("../../../images/estimate-form.png");
}
.form-logo {
	min-height: 170px;
}




label { display: none; }

textarea { resize: none; }
.js textarea {
	overflow: hidden;
}

textarea,
.form-text {
	width: 100%;
	height: 23px;
	padding: 0;
	background: none;
	border: 0;
	border-bottom: 1px solid #a6a6a6;
	border-radius: 0;
}
textarea {
	height: auto;
	background: url("../../../images/form-textarea.gif");
	background-size: auto 1.6428em; /* font-size: 14px; bg-height: 23px; */
	border: 0;
}
input:focus,
textarea:focus { border-color: #999; }
.error input,
.error textarea { border-color: #FFA6A6; }
.error input:focus,
.error textarea:focus { border-color: #E59595; }


.field-title,
.section-author .form-type-text {
	margin-right: 50%;
	padding-right: 20px;
}

.field-attributes-date-value { padding-right: 17px; }
.field-attributes-date-value .help-inline { display: none; }
.field-attributes-date-value label {
	display: block;
	float: right;
	margin: 0 -17px 0 0;
	padding-bottom: 5px;
	width: 17px;
	height: 18px;
	overflow: hidden;
	background: url("../../../images/icon-calendar.gif") no-repeat;
	border-bottom: 1px solid #a6a6a6;
	text-indent: 200%;
	cursor: pointer;
}


.section-about textarea {
	font-size: 11px;
	line-height: 1.6428em;
}


.field-currency {
	float: right;
	width: 50%;
	padding-left: 20px;
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
}
.field-currency select {
	display: block;
	width: 100%;
	height: 23px;
	padding: 2px;
	border: 1px solid #a6a6a6;
}



.section-items {
	font-size: 14px;
	line-height: 1.6428em;
	color: #5d5d5d;
}
.section-items .estimate-currency { margin-right: 3px; }
#items-collection > div {
	float: left;
	width: 100%;
}
#items-collection .form-item {
	float: left;
	margin: 0;
	padding: 0 20px 0 10px;
}
#items-collection .form-item:first-child {
	width: 50%;
	padding-left: 0;
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
}
#items-collection textarea {
	min-height: 10px;
	max-height: 55px;
}
#items-collection .form-text { width: 60px; }
#items-collection .field-item-total {
	float: right;
	padding: 0;
	text-align: right;
	width: 140px;
}
#items-collection .field-item-total label {
	display: block;
	float: left;
	width: 50px;
}
.section-items-total {
	margin-left: 70%;
	width: 30%;
	display: table;
}
.section-items-total input {
	margin-left: 6px;
	width: 22px;
	height: 15px;
	line-height: 15px;
}
.section-items-total .form-item {
	margin: 0;
	display: table-row;
}
.section-items-total .col-left,
.section-items-total .col-right {
	padding: 4px 0;
	display: table-cell;
	text-align: right;
}
.section-items-total .col-left  { padding-right: 4px; }
.section-items-total .col-right { width: 86px; }
.section-items-total .field-estimate-total { display: none; }
.section-items-total label {
	display: inline-block;
}
.section-items-total .field-estimate-final,
.section-items-total .field-estimate-final label {
	font-weight: bold;
	font-size: 15px;
	line-height: 24px;
}



.form-actions {
	margin: 30px 40px 0;
	text-align: right;
}
.button,
input[type="submit"] {
	display: inline-block;
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
	height: 31px;
	margin: 0 0 0 20px;
	padding: 0 25px 4px;
	background: #72b80a url("../../../images/form-button.gif");
	border: 0;
	border-radius: 16px;
	box-shadow: 0 1px 2px #bfbfbf;
	font: bold 15px/31px Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}
.button:hover {color: #fff;}
.form-cancel {
	background-position: 0 -50px;
}