{% extends 'HWIOAuthBundle::layout.html.twig' %}

{% block title %}
	{{ 'header.register' | trans({'%displayName%': userInformation.displayName}, 'HWIOAuthBundle') }}
{% endblock %}

{% block hwi_oauth_content %}
     <form action="{{ path('hwi_oauth_connect_registration', {'key': key}) }}" {{ form_enctype(form) }} method="POST" id="user-register" class="user-form hwi_oauth_registration_register">
		{{ form_widget(form) }}
		<div class="form-actions">
			<input type="submit" value="{{ 'connect.registration.submit'|trans({}, 'HWIOAuthBundle') }}" />
			<a href="{{ path('hwi_oauth_connect') }}" class="button">{% trans %}Cancel{% endtrans %}</a>
		</div>
	</form>

	{% if userInformation.profilePicture is defined %}
		<div class="span6">
			<img src="{{ userInformation.profilePicture }}" />
		</div>
	{% endif %}
{% endblock hwi_oauth_content %}