{% extends '::base.html.twig' %}

{% block html_title %}An Error Occurred: {{ status_text }}{% endblock %}
{% block page_title %}Oops! An Error Occurred{% endblock %}

{% block content %}
	{{ parent() }}
	<h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>

	<div>
		Something is broken. Please e-mail us at [email] and let us know
		what you were doing when this error occurred. We will fix it as soon
		as possible. Sorry for any inconvenience caused.
	</div>
{% endblock %}