{% if form is defined %}
	{% form_theme form ':Form:fields.html.twig' %}
{% endif %}
{% import '::snippets.html.twig' as theme %}
<!DOCTYPE html>
{# paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ #}
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
{# Consider adding a manifest.appcache: h5bp.com/d/Offline #}
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width">
		{# Mobile viewport optimized: h5bp.com/viewport #}

		<title>{{ theme.title( block('title') ) }}</title>
		<!--[if IE]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<link rel="stylesheet" href="{{ asset('css/ie.css') }}">
		<![endif]-->
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/layout.css') }}">
			<link rel="stylesheet" href="{{ asset('css/styles.css') }}">
			{% if (form is defined) or (csrf_token is defined) %}
				<link rel="stylesheet" href="{{ asset('css/form.css') }}">
				<link rel="stylesheet" href="{{ asset('css/form-specific.css') }}">
			{% endif %}
		{% endblock %}
		<script>
			var html = document.getElementsByTagName('html')[0];
			html.className = html.className.replace('no-js', 'js');
			delete html;

			{# 'js enabled' cookie. #}
			document.cookie = 'has_js=1; path=/';
			RoddoApp = {
				config : {
					basePath: {{ path('frontpage') }}
				}
			};
		</script>
	</head>
	<body>
		<div id="page">
			<header>
				<div class="layout-center">
					{% spaceless %}
					{% block header %}
						{{ theme.logo }}
						{{ knp_menu_render('RoddoEstimateBundle:Builder:userMenu') }}
						{{ theme.greating }}
						{{ knp_menu_render('RoddoEstimateBundle:Builder:mainMenu') }}
					{% endblock %}
					{% endspaceless %}
				</div>
			</header>

			<section role="main" class="layout-center clearfix">
			{% spaceless %}
				<section role="content">
					<h1 id="page-title">{% block page_title %}{% endblock %}</h1>
					{{ theme.flashMessages }}

					<div class="main-content">
						{% block content %}{% endblock %}
					</div>
					
				</section>

				<aside>
					{% block sidebar %}{% endblock %}
				</aside>
			{% endspaceless %}
			</section>
		</div>

		<footer></footer>

		{% spaceless %}
		{% block javascripts %}
			{# Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline #}
			<script src="//code.jquery.com/jquery-1.8.1.min.js"></script>
			<script>
				window.jQuery || document.write('<script src="/js/libs/jquery-1.8.1.min.js"><\/script>');
				// Allow other JavaScript libraries to use $.
				jQuery.noConflict();
			</script>
			<script src="{{ asset('js/main.js') }}"></script>
			<script src="{{ asset('js/jquery.showMessage.min.js') }}"></script>
			{% if form is defined %}
				<script type="text/javascript" src="{{ asset('js/autosize/jquery.autosize.js') }}"></script>
			{%endif %}
		{% endblock %}
		{% endspaceless %}
	</body>
</html>