{% macro flashMessages() %}
	{% for key, message in app.session.getFlashes() %}
		<div class="{{ key }}">
			{{ message }}
		</div>
	{% endfor %}
{% endmacro %}


{% macro title(page_title) %}
{% spaceless %}
	{% if page_title is not empty %}
		{{ page_title }} | 
	{% endif %}
	{{ site_name }}
{% endspaceless %}
{% endmacro %}
					

{% macro logo() %}
	<a href="{{ path('frontpage') }}" id="logo">Roddo</a>
{% endmacro %}


{% macro greating() %}
	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		{% set username = app.user.fullname is defined ? app.user.fullname : app.user.username %}
		<div class="username">
			{% trans with {'%username%': username} %}
				Hello %username%, Glad to see you!
			{% endtrans %}
		</div>
	{% endif %}
{% endmacro %}