{% extends '::base.html.twig' %}

{% block html_title %}Roddo - Create estimate{% endblock %}
{% block page_title %}Create your estimate   {% endblock %}

{% block content %}
	<h2>Hi!</h2>
	<p>Check Roddo app and if you'd like, provide us feedback with feature requests!</p>
{% endblock %}