{% extends "FOSUserBundle::layout.html.twig" %}

{% block page_title %}Registration{% endblock %}

{% block fos_user_content %}
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
<h4>Don't want to register? Use one of your existing account:</h4>
{% for owner in hwi_oauth_resource_owners() %}
    <a href="{{ hwi_oauth_login_url(owner) }}">{{ owner | trans({}, 'HWIOAuthBundle') }}</a> <br />
{% endfor %}
{# <a href="{{ hwi_oauth_login_url('facebook') }}">Connect with Facebook</a> #}

{% endblock fos_user_content %}