<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" id="user-register" class="user-form">
    {{ form_rest(form) }}
    <div class="form-actions">
        <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>