{% extends '::base.html.twig' %}

{% block title %}Edit estimate{% endblock %}
{% block page_title %}Estimate edit{% endblock %}

{% block content %}
	<div class="estimate-actions">
		<a href="{{ path('estimate_show', {'id': estimate.id}) }}">view</a>
		<form action="{{ path('estimate_delete', { 'id': estimate.id }) }}" method="post">
			{{ form_widget(delete_form) }}
			<button type="submit">Delete</button>
		</form>
	</div>
	<div class="clearfix"></div>
	{% include 'RoddoEstimateBundle:Estimate:form.html.twig' with {'form': form, 'estimate': estimate} %}
{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('bundles/roddoestimate/js/file-uploader.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/roddoestimate/js/estimate-form.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/jquery-ui/minified/jquery.ui.datepicker.min.js') }}"></script>
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/roddoestimate/css/estimate-preview.css') }}" />
	<link rel="stylesheet" href="{{ asset('bundles/roddoestimate/css/estimate-form.css') }}" />

	<link rel="stylesheet" href="{{ asset('js/jquery-ui/themes/base/jquery.ui.core.css') }}" />
	<link rel="stylesheet" href="{{ asset('js/jquery-ui/themes/base/jquery.ui.theme.css') }}" />
	<link rel="stylesheet" href="{{ asset('js/jquery-ui/themes/base/jquery.ui.datepicker.css') }}" />
{% endblock %}