{# Estimate creation / editing form #}
{%
	set attr = {
		'action': estimate.id  == '' ? path('estimate_create') : path('estimate_edit', {'id': estimate.id}),
		'method': 'post',
		'id'    : 'form-' ~ form.vars.name|replace('_', '-'),
		'name'  : form.vars.name,
		'autocomplete': 'off'
	}
%}
<form{% for key, val in attr %} {{ key }}="{{ val }}"{% endfor %} {{ form_enctype(form) }}><div>
	{{ form_errors(form) }}
	{% set attributes = form.attributes %}

	<div class="form-section section-logo">
		{{ form_rest(attributes.logo) }}
	</div>

	<div class="form-section clearfix form-two-columns">
		<div class="form-column">
			{{ form_rest(form.attributes.client_name) }}
			{{ form_row(form.attributes.client_company.value) }}
		</div>
		<div class="form-column">
			{{ form_row(attributes.city.value) }}
			{{ form_row(attributes.date.value) }}
		</div>
	</div>

	<div class="form-section">
		{{ form_row(form.title) }}
		{{ form_row(form.description) }}
	</div>

	<div class="form-section section-items">
		{{ form_row(form.currency) }}
		<div id="items-collection" class="clearfix" data-prototype="{{ form_widget(form.items.vars.prototype) | e }}">
			{% for item_form in form.items %}
			{% spaceless %}
				<div id="{{ item_form.vars.id }}">
					{{ form_errors(item_form) }}

					{{ form_row(item_form.description) }}
					{{ form_row(item_form.quantity) }}
					{{ form_row(item_form.price) }}
					{{ form_row(item_form.delta) }}

					<div class="form-item field-item-total">
						<label>Total:</label>
						<span class="estimate-currency"></span>
						<span class="field-item-total-value"></span>
					</div>
				</div>
				{#{ form_widget(item_form) }#}
			{% endspaceless %}
			{% endfor %}
			{# <a href="#" class="jslink">Add a new item</a> #}
		</div>

		<div class="section-items-total">
			<div class="form-item field-estimate-total">
				{{ form_widget(form.total, {'label': ''  }) }}
			</div>

			<div class="form-item field-estimate-tax">
				<div class="col-left">
					<label for="{{ form.tax.vars.id }}">Tax</label>
					{{ form_widget(form.tax, {'label': ''  }) }} %:
				</div>
				<div class="col-right">
					<span class="estimate-currency"></span>
					<span id="field-estimate-tax"></span>
				</div>
			</div>
			<div class="form-item field-estimate-final">
				<div class="col-left">
					<label>Final:</label>
				</div>
				<div class="col-right">
					<span class="estimate-currency"></span>
					<span id="field-estimate-final"></span>
				</div>
			</div>
		</div>
	</div>

	<div class="form-section">
		{{ form_rest(attributes.conditions) }}
	</div>

	<div class="form-section section-author">
		{{ form_rest(attributes.author_name) }}
		{{ form_rest(attributes.author_phone) }}
		{{ form_rest(attributes.author_company) }}
	</div>

	<div class="form-section section-about">
		{{ form_rest(attributes.author_about) }}
	</div>

	<div class="form-actions">
		<a class="button form-cancel">Cancel</a>
		<input type="submit" id="form-submit" value="{{ estimate.id == '' ? 'Create estimate' : 'Update' }}" />
	</div>

	{{ form_rest(form) }}
</div></form>