{% extends '::base.html.twig' %}

{% block title %}My estimates{% endblock %}
{% block page_title %}My estimates{% endblock %}

{% block content %}
	{% if entities is empty %}
	{% else %}
		<ul id="estimates" class="clearfix">
			{% for estimate in entities %}
				<li class="heading">
					<div class="title">
						<a href="{{ path('estimate_show', { 'id': estimate.id }) }}">{{ estimate.title }}</a>
					</div>
					<div class="date">
						{% if estimate.created %}{{ estimate.created|date('Y-m-d') }} {% endif %}
						{% if estimate.updated %} (updated {{ estimate.updated|date('Y-m-d') }} at {{ estimate.updated|date('H:i:s') }}) {% endif %}
					</div>
					<div class="total">
						Total: <b>{{ estimate.total }}{{ estimate.currency }}</b>
					</div>
					<div class="operations">
						<a href="{{ path('estimate_edit', { 'id': estimate.id }) }}">edit</a>
						<a href="#">delete</a>
					</div>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
{% endblock content %}

{#
<!--<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Title</th>
            <th>Description</th>
            <th>Total</th>
            <th>Tax</th>
            <th>Currency</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('estimate_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.title }}</td>
            <td>{{ entity.description }}</td>
            <td>{{ entity.total }}</td>
            <td>{{ entity.tax }}</td>
            <td>{{ entity.currency }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('estimate_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('estimate_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('estimate_create') }}">
            Create a new entry
        </a>
    </li>
</ul>
#}