{% extends '::base.html.twig' %}

{% block title %}Send estimate{% endblock %}
{% block page_title %}Send estimate{% endblock %}

{% block content %}
	<form action="{{ path('estimate_send', {'id': estimate.id}) }}" method="post" {{ form_enctype(form) }} id="form-estimate-send" name="{{ form.vars.name }}"><div>
		{{ form_errors(form) }}

		{{ form_row(form.email) }}
		{{ form_row(form.subject) }}
		{{ form_row(form.body) }}

		<div class="form-actions">
			<a class="button form-cancel">Cancel</a>
			{% set btnVal = estimate.id == '' ? 'Create estimate' : 'Update' %}
			<input type="submit" id="form-submit" value="{{ btnVal }}" />
		</div>
		{{ form_rest(form) }}
	</div></form>
{% endblock %}