{% extends '::base.html.twig' %}

{% block title %}Estimate details{% endblock %}
{% block page_title %}{{ estimate.title }} {% endblock %}

{% block content %}
	<div class="estimate-actions">
		<a href="{{ path('estimate_send', {'id': estimate.id}) }}">send via e-mail</a><br />
		<a href="{{ path('estimate_edit', {'id': estimate.id}) }}">edit</a>
		<form action="{{ path('estimate_delete', { 'id': estimate.id }) }}" method="post">
			{{ form_widget(delete_form) }}
			<button type="submit">Delete</button>
		</form>
	</div>
	<div class="clearfix"></div>
	{% if attributes.logo is not empty %}
		<div><img src="{{ asset(attributes.logo) | imagine_filter('thumb_274x111') }}" alt="{{ attributes.author_company }}" title="{{ attributes.author_company }}" /></div>
	{% endif %}
	{{ estimate.description }}
	<hr />

	<div style="float: right;">
		{% if attributes.city != '' %} {{ attributes.city }} {% endif %}
		{% if attributes.date != '' %} {{ attributes.date|date("Y-m-d") }} {% endif %}
	</div>
	{% if attributes.client_name    is not empty %} Client name: {{ attributes.client_name }}<br /> {% endif %}
	{% if attributes.client_company is not empty %} Client company: {{ attributes.client_company }} {% endif %}
	<hr />

	<h3>Items</h3>
	<ul>
		{% for item in items %}
			<li>
				<div style="float: right;">
					{{ item.quantity }} * {{ item.price }} {{ estimate.currency }}
						=
					{{ item.quantity * item.price }} {{ estimate.currency }}
				</div>
				{{ item.description }}
			</li>
		{% endfor %}
	</ul>
	<div style="float: right;">
		{% if estimate.tax > 0 %}
			Tax: {{ estimate.tax}}% ()<br />
		{% endif %}
		Total: {{ estimate.total }} {{ estimate.currency }}
	</div>
	<div class="clearfix"></div>

	<hr />
	{% if attributes.conditions is not empty %}
		Conditions:<br />{{ attributes.conditions }}
	{% endif %}
	<hr />

	{{ attributes.author_name|default('') }}<br />
	{{ attributes.author_phone|default('') }}<br />
	{{ attributes.author_company|default('') }}<br />
	{{ attributes.author_about|default('') }}
{% endblock %}

{% block sidebar %}
	<div class="block">
		<h3 class="block-title">Preview</h3>
		<div class="block-content">
			lipsum preview
		</div>
	</div>
	{{ parent() }}
{% endblock %}