/* =============================================================================
   Form layouts.
   ========================================================================== */
.form-section {
	padding: 12px 40px 20px;
	background: url("../images/form-separator.gif") repeat-x 0 100%;
}
.form-two-columns > .form-column {
	float: left;
	width: 50%;
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
	padding-left: 20px;
}
.form-two-columns > .form-column:first-child { padding: 0 20px 0 0; }

.form-item {
	margin: 15px 0;
}

label {
	display: block;
	margin-bottom: 4px;
	color: #5d5d5d;
}
label,
input,
select,
textarea {
	margin: 0;
	font: normal 14px/1.6428em Helvetica, Arial, sans-serif; /* 23px */
}
textarea,
.form-text {
	display: inline-block;
	width: 80%;
	margin: 0;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #333;
}
.form-text {
	height: 17px;
	padding: 2px 5px;
}
textarea {
	resize: vertical;
	height: auto;
	padding: 5px;
	min-height: 69px;
}
.input-placeholder { font-style: italic; color: #aeaeae; }

input:-ms-placeholder,
textarea:-ms-placeholder { font-style: italic; color: #aeaeae; }

input:-moz-placeholder,
textarea:-moz-placeholder { font-style: italic; color: #aeaeae; }

input::-webkit-placeholder,
textarea::-webkit-placeholder { font-style: italic; color: #aeaeae; }

/**
 * placeholder remains until a user enters the first letter.
 * http://code.google.com/p/chromium/issues/detail?id=106714
 */
input   :focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder { color: transparent !important; }


.error > .form-text { border-color: red; }
.help-inline {
	display: block;
	margin: 5px 0 0;
	font-style: italic;
	font-size: 0.9em;
	color: #999;
}
.help-inline.error {
	display: inline-block;
	padding: 5px;
	background: #fff;
	border: 1px solid #990000;
	border-radius: 3px;
	color: #993333;
}


.button:active,
input[type="button"]:active,
input[type="submit"]:active {
	-webkit-transform: translateY(1px);
	   -moz-transform: translateY(1px);
	        transform: translateY(1px);
}

.form-checkbox {
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: 0 3px 0 0;
}


.form-actions {
	margin: 20px 0 0;
	text-align: right;
}
[type="submit"],
.button {
	display: inline-block;
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
	vertical-align: middle;
	margin: 0 0 0 10px;
	padding: 0;
	width: 100px;
	height: 23px;
	background: #105cb6;
	border: 0;
	border-radius: 3px;
	font-size: 12px;
	line-height: 23px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}
[type="submit"]:hover,
.button:hover {
	background: #0055cc;
	text-decoration: none;
	color: #fff;
}
[type="submit"]:active,
.button:active {
	-webkit-transform: translateY(1px);
	   -moz-transform: translateY(1px);
	        transform: translateY(1px);
}