article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}


html {
	height: 100%;
	overflow-y: scroll;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
}
#page {
	/*min-height: 100%;*/
}
header {
	min-height: 216px;
}
footer {
	
}

.layout-center {
	width: 980px;
	margin: auto;
}
section[role="main"] {
	padding: 42px 0 70px;
}
section[role="content"] {
	float: left;
	width: 720px;
}
aside {
	float: right;
	width: 210px;
}