body {
	background: #f1f3f5;
	font: normal 14px/17px Helvetica, Arial, "Nimbus Sans L", sans-serif;
	color: #333;
}

a {
	color: #333;
	text-decoration: underline;
}
a:hover,
a:active {
	color: #666;
	text-decoration: none;
}
h1 {
	margin: 0 0 25px;
	font: bold 18px/1.16em Helvetica, Arial, sans-serif; /* 21px */
	color: #2f353f;
}

.clearfix:before,
.clearfix:after {
	display: table;
	content: "";
}

.clearfix:after {
	clear: both;
}

.flash-notice {
	margin: 0 0 15px;
	padding: 10px;
	background-color: #F8FFF0;
	border: 1px solid #BBEE77;
	color: #234600;
}


#showMessage {
    display: none;
    left: 0;
    margin: 0;
    width: 100%;
    font-family: Arial,Helvetica,clean,sans-serif;
    font-size: large;
    font-weight: bold;
}
#showMessage span.messageNav {
    float: right;
    font-size: small;
    font-weight: bold;
    padding-right: 1em;
}
#showMessage .stateHolder {
    margin: 1em auto;
    width: 90%;
}
#showMessage ul {
    margin: 0;
    padding: 10px 0;
}
#showMessage li {
	margin: 0;
	padding: 0;
    list-style: none;
}
#showMessage.notification {
    background-color: #EFEFEF;
    color: green;
}
#showMessage.success {
    background-color: #ACFA58;
    color: black;
}
#showMessage.error {
    background-color: #FE2E2E;
    color: white;
}


.main-content {
	padding: 10px 20px;
	background: #fff;
	box-shadow: 0 0 6px #bbb;
}

aside .block-title {
	margin: 0;
	font-weight: bold;
	font-size: 18px;
	line-height: 1.277em; /* 23px */
	color: #2f353f;
}
aside .block-content {
	margin-top: 23px;
	padding: 15px;
	background: #e6ebee;
	border: 1px solid #dde2e5;
	border-radius: 10px;
}


header {
	background: url("../images/header-icons.png") repeat-x 50% 100%, url("../images/header.png") repeat-x 50% 100%;
	background-color: #345a77;
}
#logo {
	margin: 10px 0 0;
	float: left;
	width: 145px;
	height: 91px;
	overflow: hidden;
	background: url("../images/logo.png");
	white-space: nowrap;
	text-indent: 200%;
	color: #fff;
}
#logo:active {
	-webkit-transform: translateY(1px);
	   -moz-transform: translateY(1px);
	        transform: translateY(1px);
}
.username {
	clear: both;
	padding-top: 23px;
	margin-bottom: -42px;
	font: bold 16px/19px Helvetica, Arial, "Nimbus Sans L", sans-serif;
	color: #CBE0FF;
}
.menu {
	margin: 0;
	padding: 0;
}
.menu > li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu a {
	color: #fff;
	text-decoration: none;
}



.user-menu {
	margin-top: 40px;
	float: right;
	font-weight: bold;
	font-size: 17px;
	line-height: 1.88em; /* 32px */
	text-transform: uppercase;
}
.user-menu li {
	float: left;
	margin-left: 25px;
}
.user-menu a {
	display: inline-block;
	padding: 0 17px;
}
.user-menu a:hover,
.user-menu .current a {
	background: rgba(0, 0, 0, 0.1);
	border-radius: 17px;
}



.main-menu {
	width: 100%;
	clear: both;
	padding-top: 78px;
	font-weight: bold;
	font-size: 15px;
	line-height: 2.46em;
}
.main-menu li {
	float: left;
	margin-right: 2px;
}
.main-menu a {
	display: block;
	padding: 0 25px;
	background: #a0b1c3 url("../images/menu-gradient.gif");
	border-radius: 3px 3px 0 0;
	-webkit-transition: box-shadow 0.25s ease;
	   -moz-transition: box-shadow 0.25s ease;
	        transition: box-shadow 0.25s ease;
}
.main-menu .current,
.main-menu a:hover {
	margin-bottom: -1px;
	border-bottom: 1px solid #8d9fb3;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}
.main-menu .create {
	float: right;
	overflow: hidden;
}
.main-menu .create a {
	background: #f1f3f5;
	color: #3a5e78;
}



.estimate-actions {
	position: relative;
	z-index: 10;
	float: right;
	height: 50px;
	margin: -50px 0 0;
	text-align: right;
}



/* ==========================================================================
   Drag'n'Drop file uploader.
   Or if Drag'n'Drop is not supported by browser, than
   customized <input type="file" /> is displayed.
   ========================================================================== */
.RoddoBasicUploader { display: none; }

.RoddoFileUploader {
	width: 274px;
	font-size: 12px;
	line-height: 1.66em; /* 20px */
	font-style: italic;
	text-align: center;
	color: #a6a6a6;
}

.RoddoDropZone {
	width: 274px;
	height: 111px;
	overflow: hidden;
	margin-bottom: 11px;
	background: url("../images/drop-zone.png");
	border-radius: 19px;
	color: transparent;
	font-size: 0;
	line-height: 0;
	-moz-transition: background 0.3s ease;
}
.RoddoDropZone .RoddoFilePreview {
	display: block;
	width: 268px;
	height: 106px;
	margin: 3px auto 0;
	background: no-repeat center center;
	background-size: contain;
}
.RoddoDropZone.hover { background-color: #efefef; }
.RoddoDropZone.error { background-color: #faa; }
.RoddoDropZone.drop  { background-color: #afa; }
.RoddoFileSelector {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	height: 20px;
	margin: 0 7px;
	padding: 0 16px;
	overflow: hidden;
	background: #3194f0 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAUCAIAAADDbMD2AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAC9JREFUeNpi8Fz2men/fwamf/+A+P9/MP0XnQ2iQfy/IPZ/pv//IGww/Q+FBggwADAnL7mE8vuPAAAAAElFTkSuQmCC");
	box-shadow: 0 1px 2px #bebebe;
	border-radius: 9px;
	border: 0;
	font-style: normal;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
}
.RoddoFileSelector .form-item { margin: 0; }
.RoddoFileSelector .form-file {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	margin: 0;
	padding: 0;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}
.RoddoFileSelector:hover { background-image: none; }
.RoddoFileSelector:active {
	-moz-transform: translateY(1px);
}
.RoddoFileName {
	width: 600px;
	margin-top: 5px;
	text-align: left;
	color: #666;
}

#estimates {
	margin: 0;
	padding: 0;
}
#estimates li {
	width: 100%;
	float: left;
	margin: 0;
	padding: 10px 0;
	border-top: 1px solid #ccc;
	list-style: none;
}
#estimates li:first-child {
	padding-top: 0;
	border-top: 0;
}
#estimates .title {
	float: left;
	max-width: 250px;
	margin-right: 10px;
}
#estimates .date,
#estimates .total {
	float: left;
	margin-right: 10px;
}
#estimates .operations { float: right; }
#estimates .operations a { margin: 0 2px; }