{% extends '::base.html.twig' %}

{% block page_title %}
	
{% endblock %}

{% block content %}
	{{ parent() }}

	{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
		{% if path(app.request.attributes.get('_route')) == path('fos_user_security_login') %}
			<a href="{{ path('fos_user_registration_register') }}">Need an account?</a>
		{% else %}
			<a href="{{ path('hwi_oauth_connect') }}">Already have an account?</a>
		{% endif %}
	{% endif %}

	{#<div>
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
			<a href="{{ path('fos_user_security_logout') }}">
				{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
			</a>
		{% else %}
			<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
		{% endif %}
	</div>#}

	{% for key, message in app.session.getFlashes() %}
	<div class="{{ key }}">
		{{ message|trans({}, 'FOSUserBundle') }}
	</div>
	{% endfor %}

	{% block fos_user_content %}
	{% endblock fos_user_content %}
{% endblock content %}