{% extends '::base.html.twig' %}

{% block title %}Settings{% endblock %}
{% block page_title %}Edit settings{% endblock %}

{% block content %}
	<form action="{{ path('user_settings') }}" method="post" {{ form_enctype(form) }} id="form-user-settings" name="{{ form.vars.name }}"><div>
		{#{ form_errors(form) }}

		{{ form_row(form.email) }}
		{{ form_row(form.subject) }}
		{{ form_row(form.body) }#}
		{{ form_rest(form) }}

		<div class="form-actions">
			<input type="submit" id="form-submit" value="Save settings" />
			<a class="button form-cancel">Cancel</a>
		</div>
	</div></form>
{% endblock %}