{% extends '::base.html.twig' %}

{% block page_title %}
	{{ is_granted('IS_AUTHENTICATED_FULLY') ? 'Connect profile' : 'Login' }}
{% endblock %}


{% block content %}
	{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
		<a href="{{ path('fos_user_registration_register') }}">Want to register?</a>

		<form action="{{ path("fos_user_security_check") }}" method="POST" id="user-login" class="user-form">
			<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

			<div class="form-item form-type-text field-username">
				<label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
				<input type="text" class="form-text" id="username" name="_username" value="{{ last_username }}" />
			</div>

			<div class="form-item form-type-password field-password">
				<label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
				<input type="password" class="form-text" id="password" name="_password" />
			</div>

			<div class="form-item form-type-checkbox field-remember-me">
				<input type="checkbox" class="form-checkbox" id="remember_me" name="_remember_me" value="on" />
				<label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
			</div>

			<div class="form-actions">
				<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
			</div>
		</form>
	{% endif %}


	<ul class="social-services">
	{% for owner in hwi_oauth_resource_owners() %}
		<li class="owner"><a href="{{ hwi_oauth_login_url(owner) }}">{{ owner | trans({}, 'HWIOAuthBundle') }}</a></li>
	{% endfor %}
	</ul>
{% endblock content %}