{% extends '::base.html.twig' %}

{% block html_title %}Roddo - Create estimate{% endblock %}
{% block page_title %}Create your estimate   {% endblock %}

{% block content %}
	{% include 'RoddoEstimatesBundle::form.html.twig' with {'form': form, 'estimate': estimate} %}
{% endblock %}


{% block sidebar %}
	<div class="block block-estimate-preview">
		<h3 class="block-title">Preview</h3>
		<div class="block-content">
			<div id="estimate-preview"></div>
		</div>
	</div>
	{{ parent() }}
{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('js/autosize/jquery.autosize.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/roddoestimates/js/builder.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/jquery-ui/minified/jquery.ui.datepicker.min.js') }}"></script>
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/roddoestimates/css/estimate-preview.css') }}" />
	<link rel="stylesheet" href="{{ asset('bundles/roddoestimates/css/estimate-form.css') }}" />
	<link rel="stylesheet" href="{{ asset('js/jquery-ui/themes/base/jquery.ui.datepicker.css') }}" />
{% endblock %}