{% extends '::base.html.twig' %}

{% block html_title %}Roddo - Edit estimate{% endblock %}
{% block page_title %}Estimate edit        {% endblock %}

{% block content %}
	<div class="estimate-actions">
		<a href="{{ path('estimate_show', {'id': estimate.id}) }}">view</a>
		<form action="{{ path('estimate_delete', { 'id': estimate.id }) }}" method="post">
			{{ form_widget(delete_form) }}
			<button type="submit">Delete</button>
		</form>
	</div>
	<div class="clearfix"></div>
	{% include 'RoddoEstimatesBundle::form.html.twig' with {'form': form, 'estimate': estimate} %}
{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('js/autosize/jquery.autosize.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/roddoestimates/js/builder.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/jquery-ui/minified/jquery.ui.datepicker.min.js') }}"></script>
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/roddoestimates/css/estimate-preview.css') }}" />
	<link rel="stylesheet" href="{{ asset('bundles/roddoestimates/css/estimate-form.css') }}" />
	<link rel="stylesheet" href="{{ asset('js/jquery-ui/themes/base/jquery.ui.datepicker.css') }}" />
{% endblock %}