{# Estimate form creation / editing #}
{%
	set path = estimate.id  == '' ?
			path('estimate_create') :
			path('estimate_edit', {'id': estimate.id})
%}
<form action="{{ path }}" method="post" {{ form_enctype(form) }} id="form-estimate" autocomplete="off" name="{{ form.vars.name }}"><div>
	{{ form_errors(form) }}

	<div class="form-section section-logo">
		<div class="form-logo"></div>
	</div>

	<div class="form-section clearfix form-two-columns">
		<div class="form-column">
			{{ form_row(form.attributes.client_name.value,    {'label': 'Client name'    }) }}
			{{ form_row(form.attributes.client_company.value, {'label': 'Client company' }) }}
		</div>
		<div class="form-column">
			{{ form_row(form.attributes.city.value, {'label': 'City' }) }}
			{{ form_row(form.attributes.date.value, {'label': 'Date', 'help': 'Format: YYYY-MM-DD' }) }}
		</div>
	</div>

	<div class="form-section">
		{{ form_row(form.title) }}
		{{ form_row(form.description, {'label': 'Project background'}) }}
	</div>

	<div class="form-section section-items">
		{{ form_row(form.currency, {'label': ' ' }) }}
		<div id="items-collection" class="clearfix" data-prototype="{{ form_widget(form.items.vars.prototype) | e }}">
			{% for item_form in form.items %}
			{% spaceless %}
				<div id="{{ item_form.vars.id }}">
					{{ form_errors(item_form) }}

					{{ form_row(item_form.description) }}
					{{ form_row(item_form.quantity) }}
					{{ form_row(item_form.price) }}
					{{ form_row(item_form.delta) }}

					<div class="form-item field-item-total">
						<label>Total:</label>
						<span class="estimate-currency"></span>
						<span class="field-item-total-value"></span>
					</div>
				</div>
				{#{ form_widget(item_form) }#}
			{% endspaceless %}
			{% endfor %}
			{# <a href="#" class="jslink">Add a new item</a> #}
		</div>

		<div class="section-items-total">
			<div class="form-item field-estimate-total">
				{{ form_widget(form.total, {'label': ''  }) }}
			</div>

			<div class="form-item field-estimate-tax">
				<div class="col-left">
					<label for="{{ form.tax.vars.id }}">Tax</label>
					{{ form_widget(form.tax, {'label': ''  }) }} %:
				</div>
				<div class="col-right">
					<span class="estimate-currency"></span>
					<span id="field-estimate-tax"></span>
				</div>
			</div>
			<div class="form-item field-estimate-final">
				<div class="col-left">
					<label>Final:</label>
				</div>
				<div class="col-right">
					<span class="estimate-currency"></span>
					<span id="field-estimate-final"></span>
				</div>
			</div>
		</div>
	</div>

	<div class="form-section">
		{{ form_row(form.attributes.conditions.value, {'label': 'Conditions' }) }}
	</div>

	<div class="form-section section-author">
		{{ form_row(form.attributes.author_name.value,    {'label': 'Your name'  }) }}
		{{ form_row(form.attributes.author_phone.value,   {'label': 'Your phone' }) }}
		{{ form_row(form.attributes.author_company.value, {'label': 'Your company name' }) }}
	</div>

	<div class="form-section section-about">
		{{ form_row(form.attributes.author_about.value, {'label': 'About your company' }) }}
	</div>


	<div class="form-actions">
		<a class="button form-cancel">Cancel</a>
		{% set btnVal = estimate.id == '' ? 'Create estimate' : 'Update' %}
		<input type="submit" id="form-submit" value="{{ btnVal }}" />
	</div>

	{{ form_rest(form) }}
</div></form>