{% extends '::base.html.twig' %}

{% block html_title %}Roddo - Edit estimate{% endblock %}
{% block page_title %}My estimates         {% endblock %}

{% block content %}
<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Title</th>
            <th>Description</th>
            <th>Total</th>
            <th>Tax</th>
            <th>Currency</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('estimate_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{% if entity.created %}{{ entity.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{% if entity.updated %}{{ entity.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.title }}</td>
            <td>{{ entity.description }}</td>
            <td>{{ entity.total }}</td>
            <td>{{ entity.tax }}</td>
            <td>{{ entity.currency }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('estimate_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('estimate_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('estimate_create') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock content %}