{% extends '::base.html.twig' %}

{% block html_title %}Roddo - Edit estimate{% endblock %}
{% block page_title %}{{ estimate.title }} {% endblock %}

{% block content %}
	<div class="estimate-actions">
		<a href="{{ path('estimate_edit', {'id': estimate.id}) }}">edit</a>
		<form action="{{ path('estimate_delete', { 'id': estimate.id }) }}" method="post">
			{{ form_widget(delete_form) }}
			<button type="submit">Delete</button>
		</form>
	</div>
	<div class="clearfix"></div>
	{{ estimate.description }}
	<hr />
	<div style="float: right;">
		{% if attributes.city != '' %}
			{{ attributes.city }}<br />
		{% endif %}
		{% if attributes.city != '' %}
			{{ attributes.date|date("Y/m/d") }}
		{% endif %}
	</div>
	Client name: {{ attributes.client_name }}<br />
	Client company: {{ attributes.client_company }}
	<hr />
	<h3>Items</h3>
	<ul>
		{% for item in items %}
			<li>
				<div style="float: right;">
					{{ item.quantity }} * {{ item.price }} {{ estimate.currency }}
						=
					{{ item.quantity * item.price }} {{ estimate.currency }}
				</div>
				{{ item.description }}
			</li>
		{% endfor %}
	</ul>
	<div style="float: right;">
		{% if estimate.tax > 0 %}
			Tax: {{ estimate.tax}}% ()<br />
		{% endif %}
		Total: {{ estimate.total }} {{ estimate.currency }}
	</div>
	<div class="clearfix"></div>

	<hr />
	{% if attributes.city is defined %}
		Conditions:<br />{{ attributes.conditions }}
	{% endif %}
	<hr />

	{{ attributes.author_name|default('') }}<br />
	{{ attributes.author_phone|default('') }}<br />
	{{ attributes.author_company|default('') }}<br />
	{{ attributes.author_about|default('') }}
{% endblock %}

{% block sidebar %}
	<div class="block">
		<h3 class="block-title">Preview</h3>
		<div class="block-content">
			lipsum preview
		</div>
	</div>
	{{ parent() }}
{% endblock %}