#estimate-preview {
	position: relative;
	min-height: 231px;
	padding: 5px;
	background: #fff url("../../../images/estimate-preview.png") repeat-y;
}
#estimate-preview:before,
#estimate-preview:after {
	position: absolute;
	left: 0;
	top: 0;
	content: "";
	display: block;
	width: 100%;
	height: 36px;
	background: url("../../../images/estimate-preview.png") no-repeat -176px 0;
}
#estimate-preview:after {
	top: auto;
	bottom: -5px;
	background-position: -352px 100%;
}